$size-1: .5em;
$color-1: hsla(136, 53%, 59%, 1);
$color-1-40: hsla(136, 53%, 59%, .4);
$color-1-60: hsla(136, 53%, 59%, .6);
$color-2: hsla(216, 8%, 12%, 1);
$color-3: hsla(224, 8%, 28%, 1);
$color-4: hsla(0, 0%, 93%, 1);
$color-5: hsla(0, 0%, 100%, 1);